/* 404 Page */

.section-404 {
  background: var(--black-secondary);
  padding-top: calc(var(--gap-vertical) + 10rem);
  padding-bottom: var(--gap-vertical);
}

.grid-404 {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  align-items: center;
  gap: 4rem 8rem;
}
.img-404 {
  padding-left: 3rem;
  max-width: 49rem;
}
.img-404 img {
  width: 100%;
  height: auto;
  aspect-ratio: 49/45;
}
.text-404 h1 {
  font-size: clamp(4.2rem, 4.9vw, 5.2rem);
  line-height: 6rem;
  padding-top: 2rem;
  margin-bottom: 3.2rem;
}
.text-404 p {
  max-width: 50rem;
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .grid-404 {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .img-404 {
    padding: 0 1rem;
  }
}

/* About Page  */

.page-heading-section {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #00000066;
}

.head-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.page-heading-section .container {
  position: relative;
  z-index: 1;
  text-align: center;
}

.strategy-about h2 {
  text-align: left;
  margin-bottom: 2rem;
  max-width: 390px;
}

/* Why Choose Section  */

.why-choose-section {
  background: #201f1f;
}

.why-choose-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem 6.5rem;
  align-items: center;
}

.intro-card {
  padding: 4.5rem 4rem;
  background: var(--black-primary);
  border-radius: 10px;
  max-width: 370px;
}

.heading-secondary {
  margin-bottom: 2rem;
  text-align: left;
}

/* Features Styling */
.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 7.6rem;
}

.icon-placeholder {
  width: 6rem;
  height: 6rem;
  background: #d9d9d9;
  border-radius: 4px;
  margin-bottom: 2rem; /* Large gap as seen in image */
}

.feature-item p {
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.feature-item h4 {
  margin-bottom: 2rem;
}

/* Responsive for Mobile */
@media (max-width: 1028px) {
  .why-choose-grid {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

@media (max-width: 768px) {
  .features-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .intro-card {
    padding: 2rem 2rem;
  }
  .features-list {
    grid-template-columns: 1fr;
  }
}

/* Contact Page  */
.contact-info-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem 2rem;
}

/* Text Container */
.contact-details {
  display: flex;
  flex-direction: column;
}

/* The clickable links/details */
.contact-details a,
.contact-details p {
  font-family: var(--body-font);
  color: var(--white);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: clamp(2.2rem, 2.4vw, 2.6rem);
  letter-spacing: 0%;
}
.contact-details a:hover {
  color: var(--primary);
}
/* Mobile Responsive */
@media (max-width: 600px) {
  .contact-info-grid {
    grid-template-columns: 1fr; /* Stack items on small screens */
  }
}

/* Services Page  */

/* NA  */

/* Portfolio Page & Blogs Page  */

.portfolio-section,
.blogs-section {
  background: var(--black-secondary);
}

.load-more-container {
  text-align: center;
}
.load-more-container button {
  margin-top: clamp(3rem, 4vw, 5rem);
}

/* Services Detail  */

.how-it-works,
.faq,
.what-we-did {
  max-width: 770px;
  margin: 0 auto;
}
.what-we-did h3,
.how-it-works h3,
.faq h3 {
  margin-bottom: 3rem;
}

.faq-section {
  background: var(--black-secondary);
}

.services-detail-section {
  padding: clamp(4rem, 5.5vw, 7rem) 0;
  border-bottom: 4px solid var(--border);
}

.services-detail-heading h2 {
  text-align: left;
  padding-bottom: clamp(3rem, 3.5vw, 4rem);
}
.info-content-container {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}
.info-item {
  display: flex;
  gap: 1rem;
}
.info-icon i {
  font-size: 1.6rem;
  color: var(--text-gray);
  padding: 0.5rem 0;
}
.info-title {
  display: block;
  margin-bottom: 0.5rem;
  font-family: var(--body-font);
  font-size: 1.6rem;
}

.what-we-did p + p {
  margin-top: 2rem;
}
.q-and-a {
  margin-top: 3rem;
}
.qna-body {
  max-width: 744px;
}
.qna-body + .qna-body {
  margin-top: 2rem;
}

.margin-zero {
  margin: 0;
}

/* Portfolio detail page  */
.longterm-detail-section {
  background: var(--black-secondary);
}

.portfoilo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.grid-card {
  position: relative;
  display: block;
  aspect-ratio: 1 / 1; /* Makes them slightly taller than square */
  overflow: hidden;
  text-decoration: none;
}
.grid-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image fills the area without stretching */
  transition: transform 0.5s ease;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 4px 0px #00000040 inset;

  background: #00000033;

  display: flex;
  align-items: flex-end; /* Pushes text to bottom */
  padding: 1.9rem;
  box-sizing: border-box;
}

.grid-card:hover img {
  transform: scale(1.2);
}

@media (max-width: 1200px) {
  .portfoilo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .portfoilo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .portfoilo-grid {
    grid-template-columns: 1fr;
  }
}

/* Blog Detail Page   */

.blog-main-section {
  background: var(--black-secondary);
  padding-top: 10rem;
}

.blog-container {
  padding-top: clamp(6rem, 7.5vw, 10rem);
  max-width: 770px;
  margin: 0 auto;
}
.blog-headiing h2 {
  margin-bottom: 2rem;
  text-align: left;
}
.blog-tag {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12.5rem;
  align-items: center;
}
.tag-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6.5rem;
}
.tag-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.tag-item i {
  font-size: 1.6rem;
  padding: 2px;
  color: var(--text-gray);
}
